/**** Main Font and Colors ****/
@import url('https://fonts.googleapis.com/css?family=Mali');
/*Primary color : #4B9B2F
Secondary color : #E5530B*/
/**** General Styling ****/
body{
    font-family: "Mali",cursive;
}
/**** Navbar Styling ****/

.items{
    color:#4B9B2F;
    font-family: 'Josefin Sans';
    font-size:20px;
    transition: all .5s;
}
.items:hover{
    color: #E5530B;
    transform: translateY(5px)
}

/**** H1 Styling  ****/
#heading{
    color: #4B9B2F;
    font-size: 36px;
    font-family: 'Josefin Sans';
}
/**** Principles section ****/
#acronym{
    color: #E5530B;
    font-family: 'Josefin Sans';
    font-size:20px;
    letter-spacing:2px
}


/**** H2 Styling ****/
.h2principles{
    color: #E5530B;
    font-family: 'Josefin Sans';
}

/**** Background Image ****/
.bkgimg{
    /*background-image: url("../img/permaculture_garden.jpg");*/
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover
}
/**** Plant Database Page ****/
.titles{
    color: #E5530B;
    font-family: 'Josefin Sans';
    font-size:22px
}
#comment{
    color: #E5530B;
    font-size:14px;
    font-weight:400
}

/**** Registration Page ****/
#register, #login{
    background: linear-gradient(to right, rgba(9,194,0,0.7), rgba(125,168,0,0.5))
}
#registration{
    color: white;
}
#register-btn, #login-btn{
    color:white;
    background-color: #E5530B
}
/**** Account Page ****/
#accountheading{
    position:relative;
    color: #4B9B2F;
    font-size: 36px;
    font-family: 'Josefin Sans';
}
#borderaccount{
    width: 190px;
    height: 1px;
    background-color: #E5530B;
    z-index: 2;
}

#btn-addplant{
    color:#4B9B2F;
    font-size:34px;
    transition: all .8s;
}
#btn-addplant:hover{
    color:#E5530B;
    transform: rotate(360deg)
}