{% extends "layout.html" %}
   {% block content %}
        <div class="row">
            <div class="col-12">
                <h1 class="my-3 text-center" id="accountheading">Account Info<div class="mx-auto" id="borderaccount"></div></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 my-3">
                <h2 class="text-left"> <img class="img-fluid " src="{{ image_file }}" style="height:50px; width:50px; " alt="Default user image"/> {{ current_user.username }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4">
                <p class="text-left">Change your username</p>
                <div class="input-group mb-3">
                    <p class="text-left">Your current username is <span class="font-weight-bold">{{ current_user.username }}</span><br/>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"></p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4">
                <p class="text-left">Change your profile picture</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 mb-4">
                <p class="text-left">Add a plant to the database</p>
                <a href="#"  id="seed"><i class="fas fa-seedling" id="btn-addplant"></i></a>
            </div>
        </div>
   {% endblock content %}