{% extends "layout.html" %}
   {% block content %}
        <div class="row">
            <div class="col-12">
                <h1 class="my-3 text-center" id="accountheading">Account Info<div class="mx-auto" id="borderaccount"></div></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 my-3">
                <h2 class="text-left"> <img class="img-fluid " src="{{ image_file }}" style="height:50px; width:50px; " alt="Default user image"/> {{ current_user.username }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4">
                <p class="text-left">Change your username</p>
                <div class="input-group mb-3">
                    <form method="POST" action="">
                        {{ form.hidden_tag() }} <!-- CSRF token -->
                          <div class="form-group">
                                {% if form.username.errors %}
                                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                              {% else %}
                              {{ form.username(class="form-control form-control-lg") }}
                              {% endif %}
                          </div>
                            {{ form.submit(class="btn float-right my-2", id="register-btn") }}
                    </form>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4">
                <p class="text-left">Change your profile picture</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 mb-4">
                <p class="text-left">Add a plant to the database</p>
                <a href="#"  id="seed"><i class="fas fa-seedling" id="btn-addplant"></i></a>
            </div>
        </div>
   {% endblock content %}