{% extends "layout.html" %}
    {% block content %}

    <div class="row">
        <div id="index_bkg_image">
            <div class="col-12 p-0">
                <h1 class="text-center my-5 pt-5" id="heading">Welcome to SilvaPermaculture !</h1>
            </div><!--end of col-12-->
            <div class="col-12 col-lg-6 my-2 py-2 px-2 px-md-0 mx-auto">
                <p class="text-center my-5 txt px-sm-2 px-lg-5">Here you can explore and find plants
                    that can help and improve the soil in the garden, enrich the life in it and overtime, increased yield.</p>
                <p class="text-center my-5 txt px-sm-2 px-lg-5">If you can help the community
                and increase the plant database, feel free to <a href="{{url_for('register') }}" id="registerBtn">register</a> and add a plant.</p>
            </div><!--end of col-12-->
        </div><!--end index_bkg_image-->
    </div><!--end of row-->

    {% endblock content %} #Jinja2 allows to put the name of the block here so to know which block is closing if we have multiple.
