{% extends "layout.html" %}
    {% block content %}
    <div class="row">
        <div class="col-12">
          <h1 class="text-center mt-3" id="heading">Welcome !</h1>
        </div>
        <div class="col-12 my-2">
            <p class="text-center">The site was created for the purpose of sharing and building up the plants database together with you, in order
            to benefit anyone who is looking for starting or rejuvenating a  permaculture garden and what plants, according to their properties, can be planted there
                to benefit the environment.</p>
        </div>
    </div>
    <div class="row my-4 bkgimg">
        <div class="col-12">
            <p class="text-center">Our guiding principles are stated as acronym in <span id="acronym">SILVA</span> as follows:</p>
        </div>
        <div class="col-12 col-lg-4 my-lg-4">
            <h2 class="text-center h2principles ">Sustainable</h2>
            <p class="my-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec venenatis dictum leo, vitae facilisis lacus. Fusce pharetra ullamcorper justo, non posuere justo placerat at. Aenean convallis, leo non posuere ullamcorper, nulla ligula vestibulum nibh,
                nec sollicitudin lectus mauris at sem. Mauris ultricies massa mauris, ac rutrum turpis elementum vitae. </p>
        </div>
        <div class="col-12 col-lg-4 my-lg-4">
            <h2 class="text-center h2principles ">Interaction</h2>
            <p class="my-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec venenatis dictum leo, vitae facilisis lacus. Fusce pharetra ullamcorper justo, non posuere justo placerat at. Aenean convallis, leo non posuere ullamcorper, nulla ligula vestibulum nibh,
                nec sollicitudin lectus mauris at sem. Mauris ultricies massa mauris, ac rutrum turpis elementum vitae. </p>
        </div>
        <div class="col-12 col-lg-4 my-lg-4">
            <h2 class="text-center h2principles">Life</h2>
            <p class="my-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec venenatis dictum leo, vitae facilisis lacus. Fusce pharetra ullamcorper justo, non posuere justo placerat at. Aenean convallis, leo non posuere ullamcorper, nulla ligula vestibulum nibh,
                nec sollicitudin lectus mauris at sem. Mauris ultricies massa mauris, ac rutrum turpis elementum vitae. </p>
        </div>
        <div class="col-12 col-lg-6 my-lg-3">
            <h2 class="text-center h2principles">Values</h2>
            <p class="my-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec venenatis dictum leo, vitae facilisis lacus. Fusce pharetra ullamcorper justo, non posuere justo placerat at. Aenean convallis, leo non posuere ullamcorper, nulla ligula vestibulum nibh,
                nec sollicitudin lectus mauris at sem. Mauris ultricies massa mauris, ac rutrum turpis elementum vitae. </p>
        </div>
        <div class="col-12 col-lg-6 my-lg-3">
            <h2 class="text-center h2principles">Abundance</h2>
            <p class="my-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec venenatis dictum leo, vitae facilisis lacus. Fusce pharetra ullamcorper justo, non posuere justo placerat at. Aenean convallis, leo non posuere ullamcorper, nulla ligula vestibulum nibh,
                nec sollicitudin lectus mauris at sem. Mauris ultricies massa mauris, ac rutrum turpis elementum vitae. </p>
        </div>


    </div>
    {% endblock content %} #Jinja2 allows to put the name of the block here so to know which block is closing if we have multiple.
