{% extends "layout.html" %}
    {% block content %}
        <div class="row">
            <div class="col-12">
                <h1 class="text-center" id="heading">Common name: <span class="titles">{{ plant.common_name }}</span><br/>>
                Scientific name: <span class="titles">{{ plant.botanical_name }} </span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-9">
                <h2 class="my-2 text-left">Plant added by <a href="#">{{ plant.author.username }}</a>
                    on {{ plant.date_added.strftime('%d-%m-%Y') }}</h2>
                <div class="my-2 p-2 border border-secondary">
                    <img class="img-fluid rounded " src="{{ url_for('static', filename='img/plants/' + plant.image_file) }}"  alt="Default plant image"/>
                    <p class="text-left">A brief description: <em>{{ plant.short_description }}</em> </p>
                </div>

            </div>
        </div>

    {% endblock content %} #Jinja2 allows to put the name of the block here so to know which block is closing if we have multiple.
