{% extends "layout.html" %}
    {% block content %}
        <div class="row">
            <div class="col-12">
                <h1 class="text-center" id="heading">Plants Database - Nature's Doctors</h1>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12 mb-2">
                <p class="text-center">Here we can learn about plants and why we called them Nature's Doctors.<br/>
                    They can help not only humans, but assist the whole environment. <br/>
                    Search for plants by scientific name, common name or by nutrients. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-3 ">
                <h3 class="my-2 text-center">Search for a plant</h3>
                <form class="form-inline my-2 my-lg-0">
                    {{ search.search_common(class="form-control") }}
                    {{ search.search_botanical(class="form-control") }}

                    <h5 class="h5 my-2">{{ search.filter_dna.label}}</h5>
                    {{ search.filter_dna(class="form-control") }}
                     <h5 class="h5 my-2">{{ search.filter_nfn.label}}</h5>
                    {{ search.filter_nfn(class="form-control") }}
                    {{ search.submit(class="btn float-right my-2") }}
                </form>
            </div>
            <div class="col-12 col-lg-9">
                <h2 class="my-2 text-center heading">Database</h2>
                {% for plant in plants %}
                   <div class="my-2 p-2 border border-secondary">
                    <img class="img-fluid rounded " src="{{ url_for('static', filename='img/plants/' + plant.image_file) }}"  alt="Default plant image"/>
                    <h4 class="text-left">Common name: <span class="titles">{{ plant.common_name }}</span></h4>
                    <h4 class="text-left">Scientific name: <span class="titles">{{ plant.botanical_name }} </span></h4>
                    <p class="text-left small">Plant added by <a href="#">{{ plant.author.username }}</a> on {{ plant.date_added.strftime('%d-%m-%Y') }} </p>
                    <p class="text-left">A brief description: <em>{{ plant.short_description }}</em> </p>
                    <a class="btn btn-info" href="{{ url_for('plant', plant_id=plant.id) }}">READ MORE</a>
                   </div>

                {% endfor %}

            </div>
        </div>

    {% endblock content %} #Jinja2 allows to put the name of the block here so to know which block is closing if we have multiple.
