{% extends "layout.html" %}
    {% block content %}
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Common name: <span class="titles">{{ plant.common_name }}</span><br/>
                Scientific name: <span class="titles">{{ plant.botanical_name }} </span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-9">
                <h5 class="my-2 text-left">Plant added by <a href="#">{{ plant.author.username }}</a>
                    on {{ plant.date_added.strftime('%d-%m-%Y') }}</h5>
            </div>
            {% if plant.author == current_user  %}
            <div class="col-12 col-lg-3">
                <a class="btn btn-secondary" href="{{ url_for('update_plant', plant_id=plant.id) }}">Edit</a>
                <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-12">
                <div class="my-2 p-2 border border-secondary">
                    <img class="img-fluid rounded " src="{{ url_for('static', filename='img/plants/' + plant.image_file) }}"  alt="Default plant image"/>
                    <h3 class="mt-2">A brief description</h3>
                    <p class="text-left"><em>{{ plant.short_description }}</em> </p>
                    <h3>Medicinal Use</h3>
                    <p class="text-left">{{ plant.medicinal }}</p>
                    <h3>Habitats</h3>
                    <p class="text-left">{{ plant.habitats }}</p>
                    <h3>Other uses</h3>
                    <p class="text-left">{{ plant.other_uses }}</p>
                    <h3>Region</h3>
                    <p class="text-left">{{ plant.region }}</p>
                    <h3>Dynamic Nutrients Accumulated</h3>
                    <p class="text-left">
                        {% for element in plant.dna %}
                        {{ element }}
                        {% endfor %}
                    </p>
                    <h3>Nurse plant / Nitrogen Fixator</h3>
                    <p class="text-left">
                        {% for extra in plant.nfn %}
                        {{ extra }}
                        {% endfor %}
                    </p>

                </div>

            </div>
        </div>
        <!-- Modal for deleting plant-->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete this plant ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('delete_plant', plant_id=plant.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
              </div>
            </div>
          </div>
        </div>
    {% endblock content %} #Jinja2 allows to put the name of the block here so to know which block is closing if we have multiple.
