{% extends "layout.html" %}
    {% block content %}
        <div class="row">
            <div class="col-12">
                <h1 class="text-center my-4 py-2" id="headingOther">Filtered search results: {{ filterQuery | length }} </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-9">

                <h4 class="h4">Selected choices for filtered results:</h4>
                <h6 class="h6">Dynamic Nutrients Accumulated</h6>
                <ul>
                {% for e in searchn.dna.data %}

                    <li class="font-weight-bold">{{ e }}</li>
                {% endfor %}
                </ul>
                <h6 class="h6">Nitrogen Fixator or Nursing Plant</h6>
                <ul>
                {% for d in searchn.nfn.data %}

                    <li class="font-weight-bold">{{ d }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                {% for plant in filterQuery %}

                   <div class="card shadow-sm my-3 mx-auto mx-md-3" style="width: 18rem;">
                          <img class="img-fluid rounded shadow-sm" src="{{ url_for('static', filename='img/plants/' + plant.image_file) }}"  alt="Default plant image"/>
                          <div class="card-body p-2">
                            <h4 class="text-left">Common name:<br/> <span class="titles">{{ plant.common_name }}</span></h4>
                            <h4 class="text-left">Scientific name:<br/> <span class="titles">{{ plant.botanical_name }} </span></h4>
                            <a class="btn btn-readmore p-2" href="{{ url_for('plants.plant', plant_id=plant.id) }}">READ MORE</a>
                          </div>
                   </div><!--end of card-->
                    {% endfor %}
                </div>
            </div>
       </div>
        <div class="row">
            <div class="col-12">
                        <a class="previous{% if not prev_url %} disabled{% endif %}">
                            <a class="btn btn-outline-success mt-4" href="{{ prev_url or '#' }}">
                                <span aria-hidden="true">&larr;</span>
                                {{ ('Previous results') }}
                            </a>
                        </a>
                        <a class="next{% if not next_url %} disabled{% endif %}">
                            <a class="btn btn-outline-success mt-4" href="{{ next_url or '#' }}">
                                {{ ('Next results') }}
                                <span aria-hidden="true">&rarr;</span>
                            </a>
                        </a>
            </div>
        </div><!--end of row-->

    {% endblock content %}
